@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  background-color: #1F1F1F;
  font-family: 'DM Sans', sans-serif;
  text-align: center;
}

h1,
p {
  color: white;
}

div {
  border: 1px;
  word-wrap: break-word;
}

