@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

body {
  background-color: #1F1F1F;
  font-family: 'DM Sans', sans-serif;
  text-align: center;
}

h1,
p {
  color: white;
}

div {
  border: 1px;
  word-wrap: break-word;
}

.code-block {
  margin-top: 20px;
  color: white;
  background-color: #2E2E2E;
  padding: 10px;
  font-family: 'DM sans', sans-serif;
  border-radius: 5px;
  outline: 2px solid #FF0000;
  text-align: left;
}
